<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dynamic_host.pocketerhalchal">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="30" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:testOnly="true"
        android:theme="@style/Theme.PocketerHalchal">
        <activity
            android:name=".SettingsActivity" android:screenOrientation="portrait"
            android:label="Settings"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".activity_signIn"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivitySignUp"
            android:screenOrientation="portrait"
            android:label="Sign Up"/>
        <activity
            android:name=".activity_expense"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"
            android:label="Add Expense"/>
        <activity
            android:name=".Activity_Report"
            android:screenOrientation="portrait"
            android:label="Monthly Report"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".ActivityIncome"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"
            android:label="Add Income"/>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>